html {
  scroll-behavior: smooth;
}

:root {
  --primery-color: #8a44ed;
  --secondery-color: #000000;
  --hover-btn: #8a44edcc;
  --text-btn: #ffffffff;
  --accordion-active: #8a44ed90;
  --background: #f3f4f6ff;
  --border-radius: 25px;
}

body {
  margin: 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: start;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-bottom: 35px;
  font-family: "Playfair Display", serif;
  text-align: center;
}

.title span {
  color: var(--primery-color);
}

.subtitle {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-bottom: 10px;
}

.descr {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
}

.section {
  padding: 60px 0;
  scroll-margin-top: 60px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.button {
  background-color: var(--primery-color);
  color: var(--text-btn);
  padding: 12px 24px 12px 24px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--primery-color);
  font-size: 18px;
  transition: all 0.3s ease;
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--hover-btn);
}

.sec-button {
  background-color: transparent;
  color: var(--primery-color);
  padding: 12px 24px 12px 24px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--primery-color);
  font-size: 18px;
  transition: all 0.3s ease;
  border-radius: var(--border-radius);
}

.sec-button:hover {
  color: #fff;
  background-color: var(--primery-color);
}

/* Header styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  padding: 20px;

  position: fixed;
  border-radius: var(--border-radius);
  top: 15px;
  left: 15px;
  right: 15px;
  z-index: 999;
}

.header-no-home {
  background-color: var(--primary-color);
}

.header-logo {
  height: 40px;
  width: auto;
}

.logo img {
  height: 45px;
  object-fit: cover;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
}

.header-nav-list {
  display: flex;
  list-style-type: none;
  gap: 50px;
  margin-bottom: 0;
}

.header-nav-list a {
  color: #000000;
  transition: all 0.3s ease;
}

.logo:hover,
.header-nav-list a:hover {
  text-decoration: underline;
}

.header-nav-list a.button {
  color: var(--background);
  text-decoration: none;
}

/* Hero styles */

.mySwiperHero {
  position: relative;
  margin-bottom: 0;
}

.hero-slide {
  position: relative;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.hero-swiper-pagination {
  position: absolute;
  bottom: 60px !important;
  padding-right: 30px;
  text-align: end;

  z-index: 2;
}

.hero-swiper-pagination-bullet {
  border-radius: 100%;
  background-color: #dde0e4;
  width: 15px;
  height: 15px;
  transition: all 2s ease-in-out;
}

.hero-swiper-pagination-bullet-active {
  width: 45px;
  height: 16px;
  background-color: var(--primery-color);
  border-radius: 8px;
}

.hero-content {
  z-index: 2;
  padding: 0 50px;
}

.hero h1 {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero .swiper-wrapper {
  padding-top: 0;
}

.hero h1 span {
  color: var(--primery-color);
}

.hero p {
  font-size: 1.5rem;
  margin-top: 10px;
  max-width: 600px;
  margin-bottom: 50px;
}

.hero-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-media img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(65%);
}

/* Advantages section */
.advantages {
  background-color: #f8f9fa;
  padding: 60px 20px;
}

.advantages .title {
  margin-bottom: 30px;
}

.advantages-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.advantage-item {
  display: flex;
  max-width: 320px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.advantage-item img {
  width: 100%;
  margin-bottom: 15px;
}

.advantage-item h3 {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-bottom: 10px;
}

.advantage-item p {
  font-size: 1rem;
  color: #666;
}

.advantage-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* === Success === */

.success .descr {
  max-width: 600px;
  margin: 0 auto 70px;
}

.success-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 0 20px;
}

.success-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  padding: 20px;
  gap: 20px;
}

/* === Commitment ===  */

.commitment .descr {
  max-width: 700px;
  margin: 0 auto 50px;
}

.commitment-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.commitment-list li {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.commitment-list img {
  width: 20px;
}

/* Blog styles */
.blog .descr {
  max-width: 800px;
  margin: 0 auto 50px;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 0 20px;
}

.blog-post {
  display: flex;
  flex-direction: column;
  background-color: var(--secondery-color);
  border-radius: var(--border-radius);
  color: var(--background);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-post-wrap {
  padding: 15px;
}

.blog-post img {
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  object-fit: cover;
  height: 300px;
}

.blog-post h3 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  color: var(--text-color);
}

.blog-post p {
  font-size: 1rem;
}

/* === Responsabilidad === */

.responsabilidad .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.responsabilidad-wrap {
  max-width: 500px;
}

.responsabilidad-list {
  margin-bottom: 20px;
}

.certificate-img {
  max-width: 200px;
}

/* Contact section */

/* Contact section */
.contact {
  padding: 0 0 130px;
}

.contact iframe {
  border-radius: var(--border-radius);
}

.contact .descr {
  margin-bottom: 30px;
}

.contact-wrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 500px;
}

.contact-form {
  max-width: 500px;
  width: 100%;
  background: white;
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.iti {
  width: 100%;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 1rem;
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--primery-color);
  font-size: 1rem;
  border-radius: var(--border-radius) !important;
}

input:focus {
  outline: none;
  border-color: var(--accordion-active);
  box-shadow: 0 0 5px rgba(0, 85, 165, 0.2);
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: var(--accent-color);
  transform: scale(1.01);
}

.contact-info {
  padding: 20px;
  background-color: var(--primery-color);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.contact-info h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #fff;
}

.contact-info p {
  font-size: 1rem;
  margin: 10px 0;
  color: #fff;
}

.contact-info strong {
  font-weight: bold;
}

.iti {
  width: 100%;
}

/* Services */

.services-list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin-top: 30px;
}

.service-item {
  background-color: white;
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  max-width: 350px;
  flex-grow: 1;
}

.service-img {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px auto;
}

.service-item h3 {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 10px;
}

.service-item p {
  font-size: 1rem;
  color: #555;
}

/* === FAQ === */

.faq {
  padding: 40px 0 60px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button.accordion-button:not(.collapsed) {
  color: var(--text);
  background-color: var(--accordion-active);
  border: none;
  box-shadow: none;
}

.accordion-header,
.accordion-button,
.accordion-item {
  border-radius: var(--border-radius) !important;
}

button.accordion-button:focus,
button.accordion-button:hover {
  border: none;
  box-shadow: none;
}

button.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

div.faq-container {
  max-width: 1000px;
}

/* === Footer === */

.footer {
  background-color: var(--secondery-color);
  color: white;
  padding: 40px 0 20px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrap {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  gap: 15px;
}

.footer-warning {
  max-width: 800px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: space-between;
}

.footer-logo img {
  height: 50px;
  object-fit: cover;
}

.footer-nav {
  display: flex;
  gap: 130px;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.footer-nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  color: white;
  text-decoration: underline;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.footer-contact p {
  margin: 0;
}

.footer-contact a {
  color: #fff;
}

.footer-rights {
  margin-top: 15px;
  font-size: 0.9rem;
  opacity: 0.8;
}

.terms-privacy {
  padding-top: 150px;
}

.terms-privacy .container {
  max-width: 1000px;
}

.terms-privacy .descr {
  text-align: justify;
}

/* Thank You Page */
.thank-you-container {
  background-color: white;
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  max-width: 500px;
  width: 100%;
  margin: 60px auto;
}

.thank-you-message h1 {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

.thank-you-container p {
  margin-bottom: 30px;
}

.thank-you-message p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

.btn-back {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-back:hover {
  background-color: var(--accent-color);
}

/* Cookie Popup Styles */
.cookie-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondery-color);
  color: white;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
  display: none;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.cookie-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cookie-popup p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.cookie-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cookie-btn:hover {
  background-color: var(--accent-color);
}

/* === Testimonials === */

.testimonials {
  padding: 100px 0;
}

.testimonials .title {
  max-width: 448px;
  margin: 0 auto 20px;
}

.testimonials .descr {
  max-width: 700px;
  margin: 0 auto 60px;
}

.mySwiper {
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}

.swiper-wrapper {
  padding: 20px 0;
}

.testimonials-slide {
  border: 2px solid #ddd;
  border-radius: var(--border-radius);
  padding: 30px;
  max-width: 350px;
}

.mySwiper .swiper-slide-active {
  border: 2px solid var(--primery-color);
}

.testimonials-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.testimonials-wrap img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonials-wrapper {
  margin-right: auto;
}

.testimonials-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  color: #0b132a;
}

.testimonials-lacotion {
  font-size: 14px;
  color: #4f5665;
}

.testimonials-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.875;
  color: #0b132a;
}

.testimonials-rating svg {
  width: 16px;
  height: 16px;
}

.swiper-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 150px;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  margin-top: 0;
  border-radius: 100%;
  background-color: var(--primery-color);
  width: 60px;
  height: 54.5px;
  box-shadow: 0 14px 44px 0 rgba(14, 20, 34, 0.08);
  transition: all 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover,
.swiper-button-prev:focus,
.swiper-button-next:focus {
  box-shadow: 0 0 20px var(--hover-btn);
}

.swiper-button-prev:active,
.swiper-button-next:active {
  background: var(--hover-btn);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 20px;
  height: 18px;
  fill: #fff;
}

.swiper-button-prev svg {
  transform: rotateY(180deg);
}

.swiper-pagination-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  border-radius: 100%;
  background-color: #dde0e4;
  width: 15px;
  height: 15px;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 45px;
  height: 16px;
  background-color: var(--primery-color);
  border-radius: 8px;
}

.investmentChart {
  padding: 100px 0;
}

.investmentChart .title {
  max-width: 1000px;
  margin: 0 auto 40px;
}

.investmentChart .descr {
  max-width: 800px;
  margin: 0 auto 70px;
}

/* === Our Mission === */

.our-mission {
  padding: 130px 0 100px;
}

.our-mission-wrap {
  display: flex;
  gap: 50px;
}

.our-mission-wrap img {
  max-width: 500px;
  object-fit: cover;
  border-radius: 7px;
}

.our-mission-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.our-mission-list .descr {
  text-align: start;
  margin: 0;
}

/* === Our History === */

.our-history {
  padding: 120px 0;
}

.our-history-wrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  gap: 50px;
}

.our-history-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.our-history-list .descr {
  margin: 0;
  text-align: start;
}

.history-image {
  max-width: 500px;
  object-fit: cover;
  border-radius: 7px;
}
