/* === Header === */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  color: var(--secondery-color);
  width: 100%;
  padding: 15px 25px;
  overflow-x: hidden;
}

.header .logo {
  color: var(--secondery-color);
}

.header-nav {
  display: flex;
  gap: 430px;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 30px;
}

.header-nav-list a {
  transition: all 0.3s ease;
}

.header-nav-list a:hover {
  color: var(--hover-btn);
  text-decoration: underline;
}

.burger-btn {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 1240px) {
  .header {
    padding: 10px 25px;
  }

  .header-nav {
    display: none;
  }

  .burger-btn {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 3px;
  }

  .burger-btn svg {
    width: 45px;
    height: 45px;
    color: #fff;
  }

  .burger-btn:active svg {
    color: var(--primary-hover);
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--text-inverted);
    padding: 22px 33px;
    z-index: 1000;
    transition: all 0.3s ease;
  }

  .mobile-menu-active {
    right: 0;
  }

  .close-btn {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 3px;
    margin-left: auto;
  }

  .close-btn svg {
    width: 25px;
    height: 25px;
    fill: var(--secondary-background);
  }

  .close-btn:active svg {
    fill: var(--primary-hover);
  }

  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* === Hero === */

.hero {
  padding: 140px 0 0;
  position: relative;
  overflow: hidden;
  height: 700px;
}

.hero .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.hero-content {
  max-width: 460px;
  padding-top: 60px;
}

.hero-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  background-clip: text;
  margin-bottom: 36px;
}

.hero-title span {
  font-size: 56px;
  background: linear-gradient(156deg, #c0b7e8 0%, #8176af 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content .descr {
  margin-bottom: 66px;
}

.hero-wrapper {
  width: 450px;
  height: 426px;
  background: transparent;
}

.hero-wrapper img {
  border-radius: 100px 100px 100px 240px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-curve-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 700px;
  z-index: -1;
}

.hero-wrapper .curve-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 500px;
  height: 700px;
  z-index: -1;
  fill: transparent;
}

@keyframes drawCurve {
  0% {
    stroke-dasharray: 0 1000;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 1000 0;
    stroke-dashoffset: 0;
  }
}

.hero-wrapper use {
  stroke-width: 6;
  fill: none;
  stroke-dasharray: 0 1000;
  stroke-dashoffset: 0;
  animation: drawCurve 2s linear forwards;
}

.hero-wrapper .curve2-icon {
  position: absolute;
  right: 135px;
  top: 0px;
  bottom: 0;
  width: 500px;
  height: 800px;
  z-index: -1;
  fill: transparent;
}

.hero-wrapper .curve3-icon {
  position: absolute;
  right: 0px;
  top: 300px;
  width: 700px;
  height: 450px;
  z-index: -1;
  fill: transparent;
}

@media screen and (max-width: 1240px) {
  .hero {
    height: auto;
    padding-bottom: 60px;
  }

  .hero .container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-wrapper {
    max-width: 450px;
    width: 100%;
    height: 300px;
  }

  .hero-curve-wrap {
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
  }

  .hero-title {
    font-size: 36px;
    text-align: center;
  }

  .hero-title span {
    font-size: 36px;
  }

  .hero-content .descr {
    text-align: center;
    margin-bottom: 36px;
  }

  .hero-content .primary-btn {
    display: block;
    margin: 0 auto;
  }
}

/* === About Us === */

.about-us {
  padding: 100px 0;
  position: relative;
}

.about-us-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.container-title {
  display: flex;
  align-items: end;
  gap: 20px;
}

.container-title .title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-title-line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
}

.container-title-line::before {
  content: "";
  background-color: #c0b7e8;
  width: 0%;
  height: 2.3px;
  margin-right: -5px;
  transition: all 2s linear;
}

.container-title.aos-animate .container-title-line::before {
  width: 100%;
}

.container-title-line svg {
  width: 42px;
  height: 33px;
}

.about-us-wrapper .descr {
  max-width: 650px;
}

.about-us-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.about-us-img {
  border-radius: 100px 240px;
  width: 100%;
  max-width: 524px;
  height: 557px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

.about-us-text {
  padding-top: 50px;
  max-width: 630px;
}

.about-us-text .title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 40px;
}

.about-us-text .descr {
  margin-bottom: 28px;
}

@keyframes drawCurveAbout {
  0% {
    stroke-dasharray: 0 1500;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 1500 0;
    stroke-dashoffset: 0;
  }
}

.about-us-curve4,
.about-us-curve5 {
  position: absolute;
  width: 100%;
  height: 300px;
  fill: none;
  z-index: -1;
}

.about-us-curve5 {
  bottom: 50px;
}

.about-us-curve4 {
  top: 150px;
}

.about-us:has(.aos-animate) .about-us-curve4,
.about-us:has(.aos-animate) .about-us-curve5 {
  stroke-dasharray: 0 1500;
  stroke-dashoffset: 0;
  animation: drawCurveAbout 2s linear forwards;
}

@media screen and (max-width: 1240px) {
  .about-us {
    padding: 60px 0;
  }

  .about-us-wrapper {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 56px;
  }

  .container-title-line {
    display: none;
  }

  .container-title .title {
    align-items: center;
  }

  .about-us-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px;
  }

  .about-us-img {
    height: 360px;
    border-radius: 60px 140px;
  }

  .about-us-text {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .about-us-text .title {
    align-items: center;
    margin-bottom: 30px;
  }

  .about-us-text .primary-btn {
    display: block;
    margin: 0 auto;
  }
}

/* === Why Choose === */

.why-choose {
  padding: 100px 0;
  position: relative;
}

.why-choose-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 100px;
}

.why-choose-wrapper .descr {
  max-width: 650px;
}

.why-choose-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
}

.why-choose-list li {
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  border-radius: 40px;
  padding: 35px 25px;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
}

.why-choose-list-wrap {
  background-color: rgba(14, 14, 14, 0.32);
  padding: 13px;
  border-radius: 50%;
  margin: 0 auto 20px;
  max-width: 409px;
}

.why-choose-list-wrap img {
  object-fit: cover;
  border-radius: 50%;
}

.why-choose-list .subtitle {
  text-align: center;
  margin-bottom: 17px;
}

.why-choose-list-line {
  max-width: 150px;
  width: 100%;
  height: 1px;
  background-color: rgba(192, 183, 232, 0.33);
  margin: 0 auto 20px;
}

.why-choose-descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

@media screen and (max-width: 1240px) {
  .why-choose {
    padding: 60px 0;
  }

  .why-choose-wrapper {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 56px;
  }

  .why-choose-list {
    flex-wrap: nowrap;
    justify-content: start;
    gap: 0;
  }

  .why-choose-list li {
    max-width: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: rgba(14, 14, 14, 0.32);
    border-radius: 50%;
    z-index: 1;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px;
    color: #433d60;
  }

  .swiper-button-next::before,
  .swiper-button-prev::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
    z-index: -1;
  }
}

/* === Trigger === */

.trigger .container {
  padding: 50px 100px;
  position: relative;
  background-image: url("../images/trigger.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(192, 183, 232, 0.01);
  border-radius: 160px;
}

.trigger .container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #302c4283;
  z-index: 1;
}

.trigger-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: relative;
  gap: 40px;
}

.trigger .title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trigger-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
  transition: all 0.3s ease;
}

.trigger-link svg {
  width: 30px;
  height: 20px;
  fill: transparent;
  stroke: #433d60;
  transition: all 0.3s ease;
}

.trigger-link:hover svg {
  stroke: #d4d4d4;
}

.trigger-link:hover {
  background: linear-gradient(268deg, #c0b7e8 0%, #706795 100%);
}

@media screen and (max-width: 1240px) {
  .trigger {
    padding: 60px 0;
  }

  .trigger .container {
    border-radius: 60px;
    padding: 30px 20px;
    background-attachment: scroll;
  }

  .trigger-content {
    gap: 25px;
  }

  .trigger-link {
    width: 50px;
    height: 50px;
  }

  .trigger-link svg {
    width: 20px;
    height: 15px;
  }
}

/* === Our Services === */

.our-services {
  padding: 100px 0;
  position: relative;
}

.our-services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 20px;
}

.our-services-list li {
  max-width: 200px;
}

.our-services-list-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(13, 13, 13, 0.32);
  position: relative;
  margin-bottom: 25px;
}

.our-services-list-wrap::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: linear-gradient(251deg, #c0b7e8 0%, #8176af 100%);
  border-radius: inherit;
}

.our-services-list-wrap p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  color: #343045;
  position: relative;
}

.our-services-list .subttile {
  text-align: center;
}

.our-services-curve {
  position: absolute;
  bottom: 220px;
  left: 0;
  right: 0;
  height: 160px;
  width: 100%;
  z-index: -1;
  fill: transparent;
}

@keyframes drawCurveServices {
  0% {
    stroke-dasharray: 0 1700;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 1700 0;
    stroke-dashoffset: 0;
  }
}

.our-services:has(.aos-animate) .our-services-curve {
  stroke-dasharray: 0 1700;
  stroke-dashoffset: 0;
  animation: drawCurveServices 2s linear forwards;
}

@media screen and (max-width: 1240px) {
  .our-services {
    padding: 60px 0;
  }

  .our-services-list {
    flex-wrap: nowrap;
    justify-content: start;
    gap: 0;
  }

  .our-services-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: none;
  }
}

/* === Our Blog === */

.our-blog {
  padding: 100px 0;
}

.our-blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
}

.our-blog-list li {
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  border-radius: var(--border-radius);
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
}

.our-blog-list-wrap {
  padding: 20px 25px;
}

.our-blog-list-img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  height: 340px;
}

.our-blog-list .subtitle {
  margin-bottom: 16px;
  text-align: center;
}

.our-blog-list-line {
  max-width: 230px;
  width: 100%;
  height: 1px;
  background-color: rgba(192, 183, 232, 0.33);
  margin: 0 auto 20px;
}

.our-blog-list-wrap .descr {
  margin-bottom: 25px;
}

@media screen and (max-width: 1240px) {
}

/* === FAQ === */

.faq {
  padding: 100px 0 0;
  text-align: center;
}

.faq .section-name {
  margin-bottom: 20px;
}

.faq .title {
  margin-bottom: 70px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: start;
}

.accordion-item {
  border-radius: var(--border-radius) !important;
  background-color: transparent;
  color: #fff;
}

.accordion-button {
  box-shadow: none !important;
  background-color: transparent;
  color: #fff;
  border-radius: var(--border-radius) !important;
}

.accordion-button:not(.collapsed) {
  color: var(--text-inverted);
  background-color: var(--accordion-active);
}

.accordion-button:hover {
  background-color: var(--accordion-active);
}

@media screen and (max-width: 1240px) {
  .faq {
    padding: 60px 0 0;
    overflow: hidden;
  }
}

/* === Contact === */

.contact {
  padding: 200px 0;
  scroll-margin-top: -100px;
  position: relative;
}

.contact .section-name {
  margin-bottom: 20px;
}

.contact .title {
  margin-bottom: 35px;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.contact-info {
  flex: 1;
  min-width: 300px;
}

.contact-info h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contact-map {
  margin-top: 40px;
  border-radius: var(--border-radius);
}

.contact-info a {
  color: var(--primary-color);
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  border-radius: var(--border-radius);
  padding: 40px 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contact-form-wrapper h3 {
  font-size: 24px;
  margin-bottom: 40px;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.contact-form input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  padding: 15px 20px;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  transition: all 0.3s ease;
  background-color: transparent;
}

.contact-form input:hover,
.contact-form input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.contact-form .primary-btn {
  margin-top: auto;
}

@media screen and (max-width: 1240px) {
  .contact {
    padding: 120px 0;
    scroll-margin-top: -80px;
  }

  .contact .title {
    margin-bottom: 40px;
  }

  .contact-content {
    flex-wrap: wrap;
    gap: 40px;
  }

  .contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .contact-info p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .contact-map {
    margin-top: 40px;
    max-width: 500px;
    width: 100%;
  }

  .contact-form {
    padding-top: 0;
  }

  .contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .contact-form .form-group {
    margin-bottom: 10px;
  }

  .contact-form label {
    font-size: 16px;
  }

  .contact-form input {
    font-size: 14px;
  }
}

/* === Footer === */

.footer {
  padding: 70px 0 20px;
  background: var(--secondary-background);
  color: var(--text-primary);
}

.footer a {
  color: var(--text-primary);
  opacity: 0.8;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-contact,
.footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-rights {
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 1240px) {
  .footer {
    padding: 60px 0 20px;
  }

  .footer .container {
    padding: 0 15px;
    justify-content: space-between;
    gap: 40px;
  }
}

/* === Cookie Popup === */

.cookie-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  display: none;
}

.cookie-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cookie-popup a {
  text-decoration: underline;
}

.cookie-popup h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.cookie-popup p {
  margin: 0 0 20px;
  font-size: 1rem;
}

.cookie-btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.cookie-btn:hover {
  background-color: var(--primary-hover);
}
